.colornavbar{
    background-color: #208304;
}

.margi{
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    
}

.carousel{
    object-fit: contain;
    height: 450px;
}

.mision{
    margin-top: 25px;        
}

.logo{
    width: 50%;
    height: 50%;
}

.footer{
    background-color: #208304;
    
}

.letras{
    font-size: 20px;
    color: #fff;
}
