<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CONTACTO</title> 
        <link rel="styleheet" href="contacto.css">   
    </head>

    <body>
        <form action="" class="formulario">
            <h1 class="formulario__titulo">Contactenos</h1>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Nombre</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Correo</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Telefono</label>
            <input type="text" class="formulario__input">
            <label for="" class="formulario__label">Mensaje</label>
            <input type="submit" class="formulario__submit">
        </form>
    </body>
</html>
